---
import {Image} from 'astro:assets';
import pcLogo1 from '../assets/pc-logo-1.svg';
import pcLogo2 from '../assets/pc-logo-2.svg';
import sampleProduct from '../assets/sample_product.png';
// import background from '../assets/background.svg';
import CtaBtn from './CtaBtn.astro';
import ProductTile from './ProductTile.astro';
---



    <section id="hero">
        <Image src={pcLogo1} alt="pretty care"/>
        <Image src={pcLogo2} alt="pretty care"/>
        <h>
            Pretty care
        </h>
        <div class="actions flex flex-col gap-y-2">
            <!-- large primary as a link -->
            <CtaBtn href="/get-started" variant="primary" size="lg" target="_self">Sprawdź</CtaBtn>
            <CtaBtn href="/get-started" variant="primary" size="md" target="_self">Dodaj do koszyka</CtaBtn>

            <!-- medium secondary as a plain button -->
            <CtaBtn variant="gold" size="lg" type="button">Dowiedz się więcej</CtaBtn>
            <CtaBtn variant="gold" size="md" type="button">Dowiedz się więcej</CtaBtn>

            <!-- small ghost, disabled -->
            <CtaBtn variant="ghost" size="lg">Not Available</CtaBtn>
            <CtaBtn variant="ghost" size="sm" disabled>Not Available</CtaBtn>
            <ProductTile
                    image={sampleProduct}
                    title="Red Shirt"
                    category="Probiotyki"
                    price="29.99"
                    promo="19.99"
            />
            <ProductTile
                    image={sampleProduct}
                    title="Red Shirt"
                    category="Probiotyki"
                    price="29.99"
            />
        </div>
    </section>



